@font-face {
  font-family: 'Gulf';
  src: url('29LT Baseet-Regular.EOT?#iefix') format('embedded-opentype'),  url('29LT Baseet-Regular.WOFF') format('woff'), url('29LT Baseet-Regular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
