@font-face {
  font-family: 'TheMixArab';
  src: url('TheMixArab.eot?#iefix') format('embedded-opentype'),  url('TheMixArab.woff') format('woff'), url('TheMixArab.ttf')  format('truetype'), url('TheMixArab.svg#TheMixArab') format('svg');
  font-weight: normal;
  font-style: normal;
}
